#marketplace-menu .p-menu {
  width: 16rem !important;
}

.p-dataview .p-paginator-bottom {
  background: var(--surface-ground) !important;
}

.marketplace-container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 0.5rem;
}

.marketplace-menu-mob {
  display: none !important;
}

.grid {
  gap: 0;
}

@media (max-width: 992px) {
  #marketplace-menu {
    display: none;
  }

  .marketplace-container {
    flex-direction: column;
    padding: 0.5rem 0rem;
  }

  .marketplace-menu-mob {
    display: flex !important;
    gap: 1rem;
    align-items: center;
  }

  .p-menu {
    width: 100% !important;
  }
}

.p-dataview .p-dataview-content {
  background: transparent !important;
}
