body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--surface-ground);
}

.cart-scroll {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.cart-scroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.grid {
  justify-content: center;
}

@media (max-width: 520px) {
  body {
    font-size: 12px !important;
  }
}
